form {
  margin: 30px;
  padding: 50px;
  background-color: rgb(233, 219, 245);
  input {
    padding: 5px;
  }
  label {
    margin: 5px 0px;
    font-weight: bold;
  }
  button {
    color: white;
    background-color: rgb(68, 34, 100);
    margin-top: 10px;
  }
}
